body {
    position: absolute;
    width: 1440px;
    height: 948px;
    left: 0px;
    background: #eff8ff;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-shadow: 0 0 20px rgba(50, 50, 93, 0.45), 0 0 5px  rgba(0, 0, 0, 0.4);


}

/* Backround blured imaga */
.bg{
    position: absolute;
    left: 0px;
    width: 1440px;
    height: 948px;
    background-image: url('/icons/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
      filter: blur(8px);
  -webkit-filter: blur(5px);
}

/* Header */
header {
    position: absolute;
    width: 1440px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #bbddfb;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.header-text{
    position: absolute;
    top:5px;
    left:20px;
    font-size: 32px;
    text-decoration-line: overline;
}

/* Main body */
main {
    position: absolute;
    width: 1440px;
    height: 848px;
    left: 0px;
    top: 100px;
}

.left-box {
    position: absolute;
    width: 460px;
    height: 320px;
    top: 10px;
}

.mid-box {
    position: absolute;
    width: 460px;
    height: 320px;
    left: 490px;
    top: 10px;
}

.right-box {
    position: absolute;
    width: 460px;
    height: 320px;
    left: 980px;
    top: 10px;

}

.box-style {
    width: 460px;
    height: 320px;
    background: #bbddfb;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.box-header{
    padding: 10px;
    background: #eff8ff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    text-decoration: none;
    text-align: center;
}

.text{
    position: absolute;
    top:80px;
    left:60px;
    font-size: 25px;
}

.amount{
    position: absolute;
    top:80px;
    left:250px;
    font-size: 25px;
}

.text-down{
    position: absolute;
    top:140px;
    left:60px;
    font-size: 25px;
}

.amount-down{
    position: absolute;
    top:140px;
    left:250px;
    font-size: 25px;
}

.bank-button{
    position: absolute;
    top:75%;
    left:10%;
}

.repay-button{
    position: absolute;
    top:75%;
    left: 180px;
}

.work-button{
    position: absolute;
    top:75%;
    right:10%;
}

.loan-button{
    position: absolute;
    top:75%;
    left: 180px;
}

.select-box{
    position: absolute;
    left: 130px;
    top:75%
}

.features-details{

    position: absolute;
    width: 93%;
    top:105px;
    left:4%;
    height: 125px;
    overflow:scroll;
    overflow-x:hidden;
}


.features-details::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.503);
	background-color: #bbddfb;;
}

.features-details::-webkit-scrollbar
{
	width: 10px;
	background-color: #bbddfb;;
}

.features-details::-webkit-scrollbar-thumb
{
	background-color: #28282d;	

}


select {
    background-color: #28282d;
    color: #bbddfb;
    padding: 5px;
    width: 200px;
    height: 40px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    outline: none;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.bottom-box {
    position: absolute;
    width: 1440px;
    height: 310px;
    left: 0px;
    top: 350px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: #bbddfb;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.computer-icon{
    position: absolute;
    left:25px;
    top: 20px;
    width:350px;
    height:270px;
    background: #eff8ff; 
    clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0% 50%, 0% 0%);
}

.computer-title{
    position: absolute;
    font-size: 25px;
    left:400px;
}

.computer-price{
    position: absolute;
    font-size: 50px;
    left: 400px;
    top: 12px
}

.computer-description{
    position: absolute;
    font-size: 25px;
    left: 400px;
    top: 100px
}


.buy-button{
    position: absolute;
    top: 185px;
    left: 1150px;
}


/*Button 1*/
.button-86 {
  all: unset;
  width: 200px;
  height: 60px;
  font-size: 40px;
  background: transparent;
  border: none;
  position: relative;
  color: #bbddfb;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}


/* Button 2 */
.button-62 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background:  #28282d;
    border: 0;
    width: 100px;
    border-radius: 12px;
    color: #aac7ec;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}



.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(38, 40, 75, 0.74), .125rem .125rem 1rem rgba(90, 140, 255, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(24, 25, 37, 0.5), .125rem .125rem 1rem rgba(90, 140, 255, 0.5);
}